<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">{{langue.changePassword}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div ng-if="error.password" class="alert alert-danger" role="alert">{{langue.wrongPassword}}</div>
      <div ng-if="success" class="alert alert-success" role="alert">{{langue.updatedPassword}}</div>
      <form class="form-horizontal" ng-submit="changePassword()">
        <div class="form-group">
          <label for="password_old" class="col-sm-4 control-label">{{langue.actualPassword}}</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" ng-model="form.oldPassword" id="password_old" required>
          </div>
        </div>
        <div class="form-group">
          <label for="password_new" class="col-sm-4 control-label">{{langue.newPassword}}</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" ng-model="form.newPassword" id="password_new" required>
          </div>
        </div>
        <div class="form-group">
          <label for="password_confirm" class="col-sm-4 control-label">{{langue.confirmPassord}}</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" ng-model="form.confirmPassword" id="password_confirm" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-primary">{{langue.save}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
