<div class="container">
  <div class="row">
	<div class="col-md-4">
	  <div class="panel panel-danger">
		<div class="panel-heading task-header">{{langue.todo}}
			<span class="badge pull-right">{{todos.length}}</span>
		</div>
		<ul class="list-group">
			<li class="list-group-item nga-default nga-fade" ng-repeat="todo in tasks[0] track by todo.id">
        <div class="task-buttons">
          <button class="btn btn-info nga-fast nga-fade" ng-click="changeState($index, 0)" ng-if="todo.show"><span class="glyphicon glyphicon-arrow-right"></span></button>
          <button class="btn btn-warning nga-fast nga-fade" ng-click="edit($index, 0)" ng-if="todo.show"><span class="glyphicon glyphicon-pencil"></span></button>
          <button class="btn btn-danger nga-fast nga-fade" ng-click="delete($index, 0)" ng-if="todo.show"><span class="glyphicon glyphicon-trash"></span></button>
          <button class="btn btn-default" ng-if="!todo.show" ng-click="todo.show=1"><span class="glyphicon glyphicon glyphicon-menu-left"></span></button>
          <button class="btn btn-default" ng-if="todo.show" ng-click="todo.show=0"><span class="glyphicon glyphicon glyphicon-menu-right"></span></button>
        </div>
        <div class="task-title">{{todo.title}}</div>
        <div class="task-description" ng-bind-html="todo.description | markdown"></div>
        <div class="task-user">{{langue.affectedTo}} {{todo.user}}</div>
			</li>
			<li class="list-group-item">
        <div class="task-buttons">
          <button class="btn btn-success" ng-click="add()"><span class="glyphicon glyphicon-plus"></span></button>
        </div>
        <div class="task-title">{{langue.addTask}}</div>
			</li>
		</ul>
	  </div>
	</div>
	<div class="col-md-4">
	  <div class="panel panel-warning">
		<div class="panel-heading task-header">{{langue.inProgress}}
			<span class="badge pull-right">{{inProgresses.length}}</span>
		</div>
		<ul class="list-group">
			<li class="list-group-item nga-default nga-fade" ng-repeat="inProgress in tasks[1] track by inProgress.id">
        <div class="task-buttons">
          <button class="btn btn-info nga-fast nga-fade" ng-click="changeState($index, 1)" ng-if="inProgress.show"><span class="glyphicon glyphicon-arrow-right"></span></button>
          <button class="btn btn-warning nga-fast nga-fade" ng-click="edit($index, 1)" ng-if="inProgress.show"><span class="glyphicon glyphicon-pencil"></span></button>
          <button class="btn btn-danger nga-fast nga-fade" ng-click="delete($index, 1)" ng-if="inProgress.show"><span class="glyphicon glyphicon-trash"></span></button>
          <button class="btn btn-default" ng-if="!inProgress.show" ng-click="inProgress.show=1"><span class="glyphicon glyphicon glyphicon-menu-left"></span></button>
          <button class="btn btn-default" ng-if="inProgress.show" ng-click="inProgress.show=0"><span class="glyphicon glyphicon glyphicon-menu-right"></span></button>
        </div>
        <div class="task-title">{{inProgress.title}}</div>
        <div class="task-description" ng-bind-html="inProgress.description | markdown"></div>
        <div class="task-user">{{langue.affectedTo}} {{inProgress.user}}</div>
			</li>
		</ul>
	  </div>
	</div>
	<div class="col-md-4">
	  <div class="panel panel-success">
		<div class="panel-heading task-header">{{langue.done}}
			<span class="badge pull-right">{{dones.length}}</span>
		</div>
		<ul class="list-group">
			<li class="list-group-item nga-default nga-fade" ng-repeat="done in tasks[2] track by done.id">
        <div class="task-buttons">
          <button class="btn btn-warning nga-fast nga-fade" ng-click="edit($index, 2)" ng-if="done.show"><span class="glyphicon glyphicon-pencil"></span></button>
          <button class="btn btn-danger nga-fast nga-fade" ng-click="delete($index, 2)" ng-if="done.show"><span class="glyphicon glyphicon-trash"></span></button>
          <button class="btn btn-default" ng-if="!done.show" ng-click="done.show=1"><span class="glyphicon glyphicon glyphicon-menu-left"></span></button>
          <button class="btn btn-default" ng-if="done.show" ng-click="done.show=0"><span class="glyphicon glyphicon glyphicon-menu-right"></span></button>
        </div>
        <div class="task-title">{{done.title}}</div>
        <div class="task-description" ng-bind-html="done.description | markdown"></div>
        <div class="task-user">{{langue.affectedTo}} {{done.user}}</div>
			</li>
		</ul>
	  </div>
	</div>
  </div>
</div>
