body {
  padding-top: 70px;
  background-color: #eee;
}

.list-group-item {
	height: 55px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.pointer {
	cursor: pointer;
}

.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

.task-header {
  font-size: 18px;
}

.task-title {
  font-size: 18px;
  vertical-align: middle;
  line-height: 35px;
  padding-bottom: 5px;
}

.task-buttons {
  float: right;
}

.task-description ul {
  padding-left: 15px;
  list-style: disc;
}

.task-user {
  font-size: 12px;
  text-align: right;
  font-style: italic;
}

.list-group-item {
  min-height: 55px;
  height: auto;
}

.user-buttons {
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}

.user-header {
  font-size: 18px;
}

.user-title {
  font-size: 18px;
  vertical-align: middle;
  line-height: 35px;
  padding-bottom: 5px;
}

.user-element {
  font-size: 15px;
  vertical-align: middle;
  line-height: 30px;
  padding-bottom: 5px;
}

.user-sentence {
  padding-left: 15px;
  align-content: center;
}
