<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()"><span>&times;</span></button>
  <h4 class="modal-title">{{langue.addUser}}</h4>
</div>
<form class="form-horizontal" ng-submit="$close(form)">
  <div class="modal-body">
    <div class="form-group">
      <label for="login" class="col-sm-3 control-label">{{langue.login}}</label>
      <div class="col-sm-9">
        <input type="text" ng-model="form.login" class="form-control" id="login" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">{{langue.password}}</label>
      <div class="col-sm-9">
        <p class="form-control-static">password</p>
      </div>
    </div>
    <div class="form-group">
      <label for="admin" class="col-sm-3 control-label">{{langue.admin}}</label>
      <div class="col-sm-9">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="form.isAdmin">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">{{langue.cancel}}</button>
    <button type="submit" class="btn btn-success">{{langue.submit}}</button>
  </div>
</form>
