<!DOCTYPE html>
<html lang="fr" ng-app="ZZTask">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZZTask</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/ng-animate.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
	  <script src="./assets/lib/angular.min.js"></script>
    <script src="./assets/lib/angular-route.min.js"></script>
    <script src="./assets/lib/angular-cookies.min.js"></script>
    <script src="./assets/lib/angular-animate.min.js"></script>
    <script src="./assets/lib/ui-bootstrap.min.js"></script>
    <script src="./assets/lib/micromarkdown.min.js"></script>
    <script src="./assets/js/app.js"></script>
  </head>
  <body>
	<nav ng-show="loggedIn" ng-controller="menuController" class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#/">ZZTask</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse" uib-collapse="isCollapsed">
		  <ul class="nav navbar-nav navbar-right">
        <li ng-show="admin" uib-dropdown><a uib-dropdown-toggle>{{langue.administration}} <span class="caret"></span></a>
          <ul class="uib-dropdown-menu">
            <li><a href="#/admin/users">{{langue.utilisateurs}}</a></li>
          </ul>
        </li>
        <li><a ng-show="selectedLangue == 'fr'" ng-click="setLangue('en')" href="">Français</a></li>
        <li><a ng-show="selectedLangue == 'en'" ng-click="setLangue('fr')" href="">English</a></li>
			  <li><a href="" ng-click="logout()">{{langue.deconnection}}</a></li>
		  </ul>
		</div>
	  </div>
	</nav>

	<div ng-view></div>

  </body>
</html>
